# common
**/.DS_Store
**/.idea

# node dependencies
**/node_modules
**/npm-debug.log

# Terraform
.terraform
*.tfstate*backup

# others
.eslintcache
**/local.env
**/.nyc_output
stats.json

.tmp
.next
dist
coverage

.env

.vercel
